body {
    background: #141414;
    color: #ffffff;
    margin: 1.5em;
}

.movie-app {
    overflow-x: scroll;
    overflow-y: clip;
    flex-wrap: nowrap;
}

.movie-poster {
    margin: 0 auto;
}

.image-container {
    position: relative;
    display: block;
    max-width: fit-content;
    max-height: fit-content;
    margin-right: 1.1em;
}

.image-container:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.image-container:hover .overlay {
    opacity: 0.8;
}

.overlay {
    max-width: 300px;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    transition: 0.4s ease-in-out;
    opacity: 0;
    bottom: 10px;
    font-size: 15px;
    padding: 10px;
    text-align: center;
}